@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.body{
  background: linear-gradient(to bottom right, #4a1857, #9c4fad);
}

button{
    font-size: 1.5rem;
}